@font-face {
    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto-Regular-webfont.woff2') format('woff2'), url('fonts/Roboto-Regular-webfont.woff') format('woff'), url('fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root{
    --blanc : #F2F2F2;
    --blue_grey:#778ca3;
    --blue_horizon:#4b6584;
    --twinkle_blue:#d1d8e0;
    --innuendo:#a5b1c2;
    --boyzone:#2d98da;
    --high_blue:#45aaf2;
    --nyc_taxi:#f7b731;
    --fuion_red:#fc5c65;
    --beniukon_bronze:#fa8231;
}


* {
    margin: 0;
    padding: 0;
    font-family: robotoregular, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    list-style-type: none;
    justify-content: center;
}

* a, li {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 2rem;
    color: var(--twinkle_blue);
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--high_blue);
}

/* ******************** HEADER *************************** */

header {
    height: 20%;
    background-color: var(--blue_horizon);
    width: 100%;
    top: 0px;
    position: -webkit-sticky;
    position: sticky;
} 

/* ******************** BANDEAU  *************************** */

.container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: right;
    width: 100%;
    height: auto;
    background-color: var(--blue_horizon);
    padding-bottom: 10px;
}

#photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border: 2px solid var(--twinkle_blue);
    border-radius: 50%;
    object-fit: cover;
}

.photo{
    margin-left: 50px;
}

.identity{
    color: var(--innuendo);
    padding-bottom: 10px;
    margin-left: 20px;
}

.futur_metier{
    color: var(--nyc_taxi);
}

.phone_number{
    color: var(--twinkle_blue);
    font-size: 1.3rem;
}

.iconsContainer {
    display: flex;
    justify-content: space-around;
}


.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 50%;
    min-width: 44px;
    min-height: 44px;
    margin: 10px;
    
}

.icon:hover {
    color: var(--beniukon_bronze);
    border: 1px solid var(--beniukon_bronze);
    margin: 10px;
}

/* ******************** MENU *************************** */

#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
    height: 100px;
    background-color: var(--blue_horizon);
    
    font-weight: bold;
    font-size: 1.3rem;;
}

.aNav {
    margin-left : 20px;
    color: var(--blanc);
}

.aNav:hover {
    text-transform: uppercase;
    color: var(--nyc_taxi);
}

/* ******************* SECTION 1 : EXPERIENCE ********************* */

#experience {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: top;
    padding: 10px;
    width: 90%;
    margin: 20px auto 20px auto;
}

/* ******************* EXPERIENCE CARDS ********************* */

.ExpCard {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: auto;
    background-color: var(--twinkle_blue);
    border-radius: 8PX;
    padding: 10px;
    margin: 10px;
}

.CardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-bottom: 20px;
}

.Function {
    text-align: left;
    margin: 20 50px;
    max-width: 400px;
}

.Position {
    font-size: 2.5vh;
    font-weight: bold;
    color: var(--blue_horizon);
}

.Dates {
    font-size: 2vh;
    font-weight: bold;
    color: var(--beniukon_bronze);
}

.CompanyLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    box-shadow: 2px 2px 10px #42416f73;
    border-radius: 20%;
}

.CardBody {
    width: 95%;
}

.CardBody li {
    line-height: 1.5;
    text-align: left;
}

.CardBody li:before {
    content: "- "
}

/* ******************* SECTION 2 : COMPETENCES ********************* */

#competences {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: top;
    width: 90%;
    margin: 0 auto ;
}

.CompCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 200px;
    margin: 20px;
    font-weight: bold;
}

.CompCard p {
    display: felx;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
    width: 200px;
}

.Bandeau {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px 0;
    background-color: var(--blue_grey);
    font-size: 1.5rem;
    margin-top: 10px;
    color: var(--blanc);
}

.bandeau_titre{
    text-transform: uppercase;
    font-weight: bold;
}

.LogoComp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 20%;
    margin: 10px;
    box-shadow: 2px 2px 10px #42416f73;
}

/* ******************* SECTION 3 : FORMATION ********************* */

#formation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    /* align-items: top; */
    width: 90%;
    
    margin: 50px auto 20px auto;
}

.vignette_diplome{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 0 50px;
}

.diplome{
    width: 100px;
    border-radius: 10px;
    border:1px solid darkgrey;

}

/* ************************ FOOTER ***************************** */

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;

}